/*
codigo CSS boton.css
*/
a{
			font: bold 20px Agency FB;
			text-decoration: none;
			background-color:#FDFEFE; 
			color: #000000;
			border:4px solid #FDFEFE;
			padding:10px 20px 10px 20px;
			border-radius: 20px;
		}

a:hover{
			background:#B2BABB;
			color: #000000;
		}
